<div class="mx-auto md:w-2/3 w-full flex">
  <div class="mx-auto">
    <%= render partial: 'shared/notice' %>

    <div class="content-center text-center">
      <h1 class="font-bold"><%= @discussion.title %></h1>
      <p class="text-gray-500"><%= @discussion.description %></p>
    </div>

    <div class="mt-5">
      <h2 class="font-medium">Posts</h2>
      <%= render partial: 'discussions/posts/post', collection: @discussion.posts.order(created_at: :desc) %>
    </div>

    <%= link_to "New post", new_discussion_post_path(@discussion), class: "good-button" %>
    <%= link_to "Edit this discussion", edit_discussion_path(@discussion), class: "nav-button" %>
    <%= link_to "Back to discussions", discussions_path, class: "nav-button" %>
    <div class="inline-block ml-2">
      <%= button_to "Destroy this discussion", @discussion, method: :delete, class: "bad-button" %>
    </div>
  </div>
</div>
