<%= link_to discussion_post_path(id: post.id, discussion_id: post.discussion.id) do %>
  <div id="<%= dom_id post %>" class="block shadow rounded-md bg-gray-500 font-light text-white">
    <div class="m-5">
      <p>
        <%= post.text %>
      </p>
      <p>
        Posted <%= time_ago_in_words(post.created_at) %> ago by <%= post.user.username %>
      </p>
      <% if user_signed_in? and post.user.id == current_user.id %>
        <div id="post-actions" class="flex justify-end space-x-5">
          <%= link_to "Edit", edit_discussion_post_path(post.discussion, post), class: "nav-button" %>
          <%= button_to "Destroy", discussion_post_path(post.discussion, post), method: :delete, class: "bad-button" %>
        </div>
      <% end %>
    </div>
  </div>
<% end %>
