<%= form_with(model: post, url: discussion_posts_path(discussion_id: post.discussion.id, id: post.id), class: "contents") do |form| %>
  <% if post.errors.any? %>
    <div id="error_explanation" class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-lg mt-3">
      <h2><%= pluralize(post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
        <% post.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="my-5">
    <%= form.label :text %>
    <%= form.text_area :text, rows: 4, class: "input-field" %>
  </div>

  <div class="my-5">
    <%= form.label :discussion_id %>
    <%= form.collection_select :discussion_id, Discussion.all, :id, :title, { prompt: true },
                               { class: "input-field" } %>
  </div>

  <div class="inline">
    <%= form.submit class: "good-button" %>
  </div>
<% end %>
