<!DOCTYPE html>
<html lang="en">
  <head>
    <title>
      <%= page_title %>
    </title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body class="bg-gray-700 flex flex-col min-h-screen">
    <div class="flex flex-col flex-grow text-white">
      <%= render partial: 'shared/nav_bar' %>

      <!-- Devise recommended -->
      <p class="alert"><%= alert %></p>
      <!-- End Devise recommended -->

      <main class="flex-grow mx-10">
        <%= yield %>
      </main>
    </div>

    <%= render partial: 'shared/footer' %>
  </body>
</html>

